@model LeagueFilterModel

<form action="@Url.Action("Index")" method="post">
    <div class="form-row">
        <div class="col-3">
            <input asp-for="Name" class="form-control" type="text" placeholder="Naziv" />
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-outline-primary">Pretraga</button>
            <a asp-action="Create" class="btn btn-outline-success">Nova liga</a>
        </div>
    </div>
</form>

