@using EmployeeManager.Model
@model List<League>

<style>
	.leagueLink {color: black;}
	.leagueLink:hover {color: #0275d8; text-decoration: none}
</style>

<table style="margin-top: 20px;" class="table" id="tbl-league">
	<thead class="thead-light">
		<tr>
			<th>Liga</th>
			<th>Broj kola</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				<a class="leagueLink" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
			</td>
			<td>@item.NumberOfGameweeks</td>
			<td class="text-right">
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Uredi</a>
			</td>
		</tr>
		}
	</tbody>
</table>

