@model EmployeeManager.Model.League

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji o ligi</h1>

@if (Model != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Popis liga</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
        </ol>
    </nav>

    <div class="card col-4 box-shadow">
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(model => model.Name)</h4>
            <p class="card-text"><strong>Broj kola:</strong> @Html.DisplayFor(model => model.NumberOfGameweeks)</p>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Uredi</a>
        </div>
    </div>

}
else
{
    <div class="alert alert-danger">
        Ne postoji ta liga u sustavu.
    </div>

}