<style>
    .jumbotron{
    background-image: url('https://cdn.ttgtmedia.com/visuals/ComputerWeekly/Hero%20Images/sport-football-1-adobe.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-bottom: 40px;
    }
</style>    


<div class="jumbotron jumbotron-fluid shadow"></div>

    <div class="overlay text-center">
        <h1 class="mb-3 text-muted">Quick Football Data</h1>
        <h2 class="text-muted">Employee Management</h2>
    </div>

